.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* /BLOCCO LEZIONI */


/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* Responsive <768px*/

@media screen and (max-width: 768px){
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #552A27;
}

#lezioni.container{
  width: 85%;
  margin: auto;
  background-color: #963C3E;
  padding: 5px;
  border-bottom: 5px solid #552A27;
}

.row{
  width: 100%;
  margin: 0px;
  color: white;
}

#lezioni .left,
#lezioni .right {
  width: 70%;
  margin: auto;
}

#lezioni .right{
  margin-bottom: 10px;
}

h1{
  color: #f9f871;
  text-transform: capitalize;
  padding-top: 10px;
}

#lezioni img{
  height: 35%;
  width: 35%;
  margin-top: 20px;
}

h3{
  margin: 10px 0px;
  color: #f9f871;
}

#steps.container{
  width: 85%;
  margin: auto;
  background-color: #963C3E;
  padding: 15px;
}

#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  background-color: #963C3E;
  width: calc(100% / 3);
  margin-top: 15px;
  padding: 0px 10px;
}

#steps img{
  width: 50%;
  height: 50%;
}

#why.container{
  background-color: #963C3E;
  border-top: 20px solid #552A27;
}

#why .row>.first,
#why .row>.second,
#why .row>.third{
  margin-top: 20px;
  padding-bottom: 20px;
  width: 60%;
  margin: auto;
}

#why img{
  width: 20%;
  height: 20%;
}

#why .row>.third{
  padding-bottom: 20px;
}

#why hr{
  margin-top: 20px;
}
}
/* /Responsive <768px*/


/* Responsive <420px*/
@media screen and (max-width: 420px){

body{
  background-color: white;
}

#lezioni.container{
  background-color: #ee99a0;
  width: 100%;
  border-bottom: 0px;
  }

.row{
  width: 100%;
  color: #fff;
  margin-top: 0px;
  }

#lezioni h1{
  color: #ffe3de;
  text-transform: uppercase;
  padding-top: 10px;
  }

#lezioni h3{
  color: #726a95;
  margin: 10px 0px;
}

#lezioni .row>.left,
#lezioni .row>.right {
  width: calc(( 100% / 2) - 20px);
  float: left;
  margin: 10px;
}

#steps.container{
  background-color: #94b5c0;
  width: 100%;
}

#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  background-color: #94b5c0;
  width: 100%;
  margin-top: 15px;
  padding: 0px 10px;
}

#steps img{
  width: 30%;
}

#why.container{
  background-color: #70af85;
  margin-top: 0px;
  border-top: 0px;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  margin-top: 15px;
  padding: 0px 5px;
}

#why hr{
  margin-top: 15px;
}

#why .row>.third{
  padding-bottom: 15px;
}

}
/* Responsive <420px*/
